body {
	margin-top: 1.0em;
	background-color: #89B556;
  font-family: Helvetica, Arial, FreeSans;
  font-size: 62.5%;
  line-height: 1.8em;
	color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
  background: #fff;
}

#content_inner {
  padding: 20px;
}
h1 { font-size: 3.8em; color: #590f6b; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; line-height: 1em; }
h1 a { text-decoration: none }
h2 { font-size: 2em; color: #590f6b; }
h3 { text-align: center; font-size: 1.4em; color: #590f6b; }
p, li {
  font-size: 1.4em;
}
p, ul {
  margin-bottom: 20px;
}
a { color: #590f6b; }
.description { margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
.screenshots {
  clear: both;
}
pre { font-size: 1.8em; background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.text_center {
  text-align: center;
}
.footer { text-align:center; padding-top:30px; font-style: italic; }